<ul>
  <%# <li><a href="">About us</a></li> %>
  <li><%= link_to "About us", about_us_path %></li>
  <%#= localhost:3000/about_us %>
  <%#= mywebsite.com/about_us %>
  <%# <li><a href="">Contact</a></li> %>
  <li><%= link_to "Contact us", contact_path %></li>
  <%#= link_to "Text to display", prefix_path %>
</ul>
